@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #EAEBED; }
  body h1 {
    margin: 0 auto;
    z-index: 0;
    text-align: center;
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    color: #0062a3; }

#nav-bar {
  padding-right: 2em;
  padding-bottom: 1em; }
  #nav-bar ul {
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
    width: 100%;
    text-align: right;
    color: #A3BAC3; }
    #nav-bar ul .nav-bar-item {
      margin: 0 1em;
      display: inline; }

#download-buttons ul {
  list-style-type: none;
  margin: 3.5em 0;
  padding: 0;
  width: 100%;
  text-align: center; }
  #download-buttons ul .download-button {
    font-weight: 600;
    background-color: #F5A55B;
    display: inline;
    margin: 0 1em;
    padding: 1em 1.5em;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in; }
    #download-buttons ul .download-button:hover {
      color: #A3BAC3;
      background-color: #F39237; }
    #download-buttons ul .download-button:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    #download-buttons ul .download-button a {
      color: #F7F7F8; }

a {
  text-decoration: none;
  color: #A3BAC3; }
  a:hover {
    color: #01A7C2; }

h3 {
  text-align: center;
  color: #A3BAC3; }

#screenshot-container {
  text-align: center;
  padding-bottom: 2em; }
  #screenshot-container img {
    display: inline;
    max-width: 60%;
    height: auto; }
