@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto);

$font-body: 'Roboto', sans-serif;

// color swatches
$primary-color: rgba(0, 98, 163, 1);
$dark-gray5: #394B59;
$gray1: #5C7080;
$gray2: #738694;
$gray3: #8A9BA8;
$gray5: #BFCCD6;
$light-gray1: #CED9E0;
$light-gray5: #F5F8FA;
$blue3: #137CBD;
$blue5: #48AFF0;
$red3: #DB3737;
$green1: #0A6640;
$green2: #0D8050;
$green3: #0F9960;


$background-color: #EDECEA;
$contrast-color-text: $light-gray5;
$box-radius: 5px;
$box-shadow-active: 0 1px 2px rgba(0, 0, 0, 0.2);
$box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

@mixin transition-props() {
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

@mixin img-props($height) {
  width: auto;
  max-height: $height;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-body;
  background-color: $background-color;
  a {
    text-decoration: none;
    @include transition-props();
  }
}

header {
  margin-bottom: 1em;
  box-shadow: $box-shadow;
  nav {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    list-style-type: none;
    background-color: $gray3;
    a {
      display: inline-flex;
      padding: 0 1.5em;
      height: 50px;
      color: $light-gray5;
      &:hover {
        background-color: $gray2;
      }
      &:active {
        background-color: $gray1;
      }
      li {
        align-self: center;
      }
    }
  }
}

#title-container {
  $img-max-height: 300px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  #images-container {
    text-align: center;
  }

  div {
    display: inline-block;
    margin: 1em;
    img {
      background-color: white;
      box-shadow: $box-shadow;
      @include img-props($img-max-height)
    }
  }

  h2 {
    margin: 0.5em;
    text-align: center;
    color: $red3;
  }
}

#downloads-container {
  list-style-type: none;
  max-width: 1200px;
  margin: 50px auto;
  padding: 1em 0 0 0;
  background-color: $light-gray1;
  border-radius: $box-radius;
  text-align: center;
  h4 {
    margin: 1em 0 0;
    color: $gray3;
    font-size: 1.5em;
  }
  .download-button {
    width: 200px;
    color: $contrast-color-text;
    font-weight: 600;
    font-size: 1.25em;
    margin: 0 auto;
    padding: .5em 1.5em;
    border-radius: $box-radius;
    background-color: $green3;
    box-shadow: $box-shadow;
    transform: translateY(20px);    
    @include transition-props();
    &:hover {
      background-color: $green2;
    }
    &:active {
      box-shadow: $box-shadow-active;
      background-color: $green1;
    }
    svg {
      fill: $contrast-color-text;
      transform: translate(-3px, 3px);
    }
  }
}

.feature {
  $max-height: 200px;
  padding: 1.5em;
  background-color: $gray5;

  .feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    max-width: 1920px;
  }
  
  .feature-glyph {
    align-self: center;
    img {
      border-radius: 50%;
      box-shadow: $box-shadow;
      @include img-props($max-height)
    }
  }

  .feature-blurb {
    align-self: center;
    margin-left: 2em;
    max-width: 75%;
    color: $gray1;
    line-height: 1.7em;
    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }

  h3 {
    font-size: 2em;
    color: $dark-gray5;
    @media screen and (max-width: 992px) {
      text-align: center;
    }
  }

  p {
    font-size: 1.5em;
    @media screen and (max-width: 992px) {
      text-align: center;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  color: $gray5;
  font-size: 1.5em;
  height: 100px;
  span {
    align-self: center;
  }
}
